<!DOCTYPE html>
<html>
  <head>
    <meta viewport="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>MARMITICAS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  </head>
  <body>
    <div>
      <img id="main-logo" src="/images/img.jpg">
      <span  style="font-size: 80px; justify-content: center  ">MARMITICAS</span>
    </div>
    <div id="app">
        <input-form @add-pedido="addPedido"></input-form>  
        <div id="outcome">
            
            <dl>
                <bold style="margin: 10px">ORDERS IN LINE: </bold>
                <div style="display: flex; justify-content: center;"><h1 v-if="vazia">EMPTY QUEUE!</h1></div>
               
                  <ul>
                    <li v-for="(pedido, index) in pedidos" v-cloak>
                      <bold>{{pedido.name}}</bold>...........................{{pedido.qtd}} refeições
                      <button class="button-item-list" @click="showEditBox(index)">edit</button>
                      <button class="button-item-list delete" @click="deleteOne(index)"><img id="delete-img" src="images/trash.jpg"></button>  
                    </li>

                    <form v-if="editBox">
                      <div v-bind="app"> 
                        Nome atual:... {{pedidos[currentIndex].name}} <br>
                        Qtd atual:... {{pedidos[currentIndex].qtd}}
                      </div>

                      <input v-model="pedidos[currentIndex].name"></input>
                      <input v-model="pedidos[currentIndex].qtd"></input>
                      <button @click="closeEditBox()">OK</button>
                    </form>
                    
                  </ul>
                <button id="delete-btn"style="color: white" @click="deletePedido()">ORDER FINISHED</button>
            </dl>
            <dl>
                <bold style="padding-left: 10px; padding-top: 10px">NUMBER OF ORDERS STILL IN LINE:  </bold>     
                <span style="font-size: 50px; padding-left: 10px"> {{pedidos.length}}</span>
            </dl>
        </div>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/scipt.js"></script>
  
  </body>
</html>
