#input {
  background-color: #aaac;
  border: 1px solid #000;
  color: #000000;
  padding: 12px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
  display: block;
  justify-content: center;
}

#outcome {
  background-color: #aaac;
  border: 1px solid #000;
  color: #000000;
  padding: 12px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  display: block;
}

span {
  display: flex;
}

#add-btn {
  background-color: #7bfa0c;
  border: bold;
  cursor: pointer;
  display: inline;
  margin-top: 30px;
  width: 185px;
}

#delete-btn {
  background-color: #bb5c5c;
  border: bold;
  cursor: pointer;
  display: inline;
  margin: 6px;
}

li {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 3px;
  background-color: #c3e22a;
  width: 30%;
  border: 1px solid #000;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  border-right: 1px solid #000;
}

dl {
  display: auto;
  background-color: #ababab;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#app {
  background-color: #f1f1f18b;
  width: 95%;
  margin: 10px;
  padding: 10px;
  border: 2px solid #000;
  display: flex;
  border-radius: 5px;
  justify-content: center;
}
